.type{
    position: relative;
    display: inline-block;
}

.type::after{
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: black;
    content: "";
    animation: blink .7s infinite;

}

@keyframes blink {

    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
    
}